@tailwind base;
@tailwind components;
@tailwind utilities;

@font-palette-values --redshift {
	font-family: Honk;
	override-colors:
		2 theme(colors.blue.400),
		3 theme(colors.violet.400),
		4 theme(colors.fuchsia.400),
		5 theme(colors.rose.400),
		6 theme(colors.rose.500),
		7 theme(colors.rose.900);
}

@font-palette-values --blue {
	font-family: Honk;
	override-colors:
		2 theme(colors.blue.100),
		4 theme(colors.blue.200),
		3 theme(colors.blue.300),
		5 theme(colors.blue.400),
		6 theme(colors.blue.500),
		7 theme(colors.blue.600);
}

@font-palette-values --purple {
	font-family: Honk;
	override-colors:
		2 theme(colors.violet.100),
		4 theme(colors.violet.200),
		3 theme(colors.violet.300),
		5 theme(colors.violet.400),
		6 theme(colors.violet.500),
		7 theme(colors.violet.600);
}

@font-palette-values --red {
	font-family: Honk;
	override-colors:
		2 theme(colors.rose.100),
		4 theme(colors.rose.200),
		3 theme(colors.rose.300),
		5 theme(colors.rose.400),
		6 theme(colors.rose.500),
		7 theme(colors.rose.600);
}

/* From Capacitor starter template */
:root {
	--safe-area-top: env(safe-area-inset-top);
	--safe-area-bottom: env(safe-area-inset-bottom, 0);
	--safe-area-left: env(safe-area-inset-left, 0);
	--safe-area-right: env(safe-area-inset-right, 0);
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.supernova {
	background-image: url('/supernova - horizontal.png');
	/* Uncommenting this one keeps the background at its natural size so multiple elements can share the same background positioning area. */
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
	background-position: center;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: cover;
}

.expanded {
	opacity: 0;
	transform: scale(2);
}

/* section {
	background: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

.dim {
	background: radial-gradient(
		circle farthest-corner,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0)
	);
}

.glass {
	--tw-bg-opacity: 1;
	background-color: rgb(6 34 77 / var(--tw-bg-opacity));
	--tw-bg-opacity: 0.6;
	--tw-backdrop-blur: blur(8px);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
}

.parallax-container {
	overflow: scroll;
	overflow-x: clip;
	perspective: 1px;
}

.plane-0 {
	transform-origin: center;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1)
		translateZ(-2px);
}

.plane-0-regular-scroll {
	transform-origin: center;
	transform: translateZ(-2px);
}

.adjust-for-scrollbar {
	/* https://stackoverflow.com/questions/51202143/gap-created-by-scrollbar-in-css-parallax-scrolling-sites */
	/* position: relative;
	right: -17px; */
	/* margin-left: calc(100% - 100vw); */
	margin-right: calc(100% - 100vw);
	/* padding-left: calc(100vw - 100%); */
	padding-right: calc(100vw - 100% + 5vw);
	padding-left: 5vw;
}

.plane-negative-1 {
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1)
		translateZ(-10px) scale(9);
}

#calls-to-action {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
